*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild


backend/classifier/training_images
backend/classifier/test_images
backend/classifier/known_faces
build
venv
__init__.py

